<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<a href="/admin/" class="navbar-brand pjax">
Backend
<small>Admin</small>
</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right root_links">
<li class="dashboard_root_link"><a href="/admin/" class="pjax">Dashboard</a></li>
<li><a href="/">Home</a></li>
<li><a href="/">Home</a></li>
<li><a href="/admin/user/2/edit">admin@gmail.com</a></li>
<li><a href="/users/sign_out" data-method="delete" rel="nofollow"><span class="label label-danger">Log out</span></a></li>
</ul>

</div>
</div>

</nav>